.evento	{
	margin-right: 1.2em;
	max-height: 15em;
	height: 300px;

}
.titulo{
	font-size: 1.2em;
}
.tit{
	font-size: 2em;
}
#aniadir{
	position: relative;
	top: -2.8em;
	left: -1.7em;
}
.be-red{
	color: #b71c1c;
}
.cerrar{
position: relative;
right: -11.5em;
}
.mover-arriba{
	position: relative;
	top: -3em;
}
.mover-abajo{
position: relative;
top: -3em;
}
.be-black{
	color: #1a237e   !important;
}
.rigth-space {
	margin-left: 9.75em !important;
}
.contenedor {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1400px;
  width: 95%; }

@media only screen and (min-width : 601px) {
  .contenedor{
    width: 85%; } }

@media only screen and (min-width : 993px) {
  .contenedor {
    width: 70%; } }

.contenedor .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem; }